.pokedex {
      perspective: 1000px;
      position: relative;
      overflow: hidden;
      height: 31rem;
      width: 23rem;
      margin-top: 100px ;
      margin-left: 200px;
      overflow: initial;
      box-shadow: 0 2px 12px -2px rgba(255, 0, 0, 0.4);
      user-select: none;
  }

.pokedex_left {
      background-color: var(--red);
      height: inherit;
      width: inherit;
      border-radius: 10px 0 0 10px;
      border: 1px solid black;
      border-right: 10px solid black;
      box-sizing: border-box;
      padding: 15px 20px;
  }

.pokedex_left_top {
    display: flex;
    align-items: flex-start;
}

.pokedex_left_top > * {
    margin-right: .7em;
}

.powerBtn {
    background-color: var(--sky);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: -2px 3px 0 rgba(7, 7, 7, 0.5);
    background: rgb(178,185,219);
    background: radial-gradient(circle at 20% 50%, rgba(178,185,219,1) 4%, rgba(60,78,171,1) 60%, rgba(88,101,176,1) 80%, rgba(108,108,108,1) 100%);
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.powerBtn:hover {
    background: radial-gradient(circle at 20% 50%, rgb(212, 215, 230) 4%, rgb(78, 91, 155) 60%, rgb(120, 125, 156) 80%, rgb(211, 210, 210) 100%); /* Standard syntax */
}

.powerBtn:active {
    box-shadow:none;
    top: 2px;
}

.small {
  width: 20px;
  height: 20px;
  box-shadow: -2px 2px 0 rgba(255,255,255, .5);
  border-radius: 50%;
  border: 1px solid black;
}

.tyny {
  width: 7px;
  height: 7px;
  border: 1px solid rgba(0, 0, 0, 0.979);
  border-radius: 50%;
  background-color: gray;
}

.medium {
  width: 40px;
  height: 40px;
  box-shadow: -2px 2px 0 rgba(255,255,255, .5);
  border-radius: 50%;
  border: 1px solid black;
}

.large{
  width: 80px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.btn_red {
  background-color: red;
}

.btn_yellow{
  background-color: yellow;
}

.btn_green {
  background-color: greenyellow;
}

.btn_blue {
  background-color: blue;
}

.btn_orange {
  background-color: orange;
}

.btn_off {
  background-color: gray;
}

.pilot {
  animation: 0.3s pulseBox alternate infinite;
  background-color: yellow;
  border: 1px solid rgba(0, 0, 0, 0.301);
  box-shadow: -2px 2px 0 rgba(255,255,255, .5);
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

@keyframes pulseBox {
  0% {box-shadow: 0px 0px 8px 0px yellow;}
  100% {box-shadow: 0px 0px 12px 10px rgb(255, 217, 0);}
}

.pokedex_screen_container {
  background: #b0b0b0;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  margin: 20px 0;
  height: 50%;
  padding: .8rem;
}

.pokedex_left_bottom {
  margin-top: 1em;
}

.pokedex_left_bottom_btns {
  display: flex;
  align-items: flex-start;
}

.pokedex_left_bottom_btns  > * {
  margin-right: .8em;
}

.pokedex_right_front {
  background: var(--red);
  height: calc(100% - 5rem);
  width: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
  transform-origin: right center;
  z-index: 2;
  backface-visibility: hidden;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px 0 0px 10px;
  border-left: 10px solid #9b0a21;
}

.pokedex:hover .pokedex_right_front,
  .pokedex.is-active .pokedex_right_front {
      transform: rotateY(180deg);
  }

.pokedex_right_front:before {
    height: 3.6rem;
    position: absolute;
    bottom: 99%;
    background: var(--red);
    width: calc(100% - 11rem);
    right: 0;
    border-top: 1px solid black;
    content: '';
}

.pokedex_right_front:after {
    content: '';
    border-right: 1.6rem solid var(--red);
    border-bottom: 1.7rem solid var(--red);
    border-left: 1.6rem solid transparent;
    border-top: 1.6rem solid transparent;
    position: absolute;
    right: calc(100% - 11rem);
    bottom: 100%;
    filter: drop-shadow(0 -1px 0 black);
}

.pokedex:hover .pokedex_right_back,
  .pokedex.is-active .pokedex_right_back {
      transform: rotateY(0);
  }

.pokedex_right_back {
  background: var(--red);
  height: calc(100% - 5rem);
  width: inherit;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  right: 0;
  bottom: 0;
  transition: 1s;
  left: 100%;
  transform-origin: left top;
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 0 10px 10px 0;
  border-left: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pokedex_right_back:before {
  width: calc(100% - 9rem);
  height: 3.6rem;
  position: absolute;
  bottom: 99%;
  background-color: var(--red);
  left: 0;
  border-top: 1px solid black;
  content: '';
}

.pokedex_right_back:after {
  content: '';
  border-left: 1.6rem solid var(--red);
  border-bottom: 1.7rem solid var(--red);
  border-top: 1.6rem solid transparent;
  border-right: 1.6rem solid transparent;
  display: block;
  width: 0;
  position: absolute;
  left: calc(100% - 9rem);
  bottom: 100%;
  filter: drop-shadow(0 -1px 0 black)
}


.errorCtn img {
  max-width: 70%;
  max-height: 70%;
}

.errorCtn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeInfoctn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  background-color: #b0b0b0;
  border: 1px solid black;
  border-radius: 10px;
}

.infoCont{
  display: flex;
}

.pokedex p{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.9rem;
}
   
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}