
  .pokedex_screen {
    background: rgb(63, 62, 62);
  }

  .pokedex_screen, .pokedex_screen_on {
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .pokedex_screen img {
    max-height: 100%;
    max-width: 100%;
  }

  .pokedex_screen_on{
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .pokedex_no_screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  
  
  